<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <h1>WebSockets Chat App</h1>
      <div id="form">
        <button id="disconnect">Disconnect</button>
        <input type="text" id="message">
        <input type="range" min="1" max="25" value="10" style="width:100%">
      </div>
      <div id="chat-log"></div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      // where our WebSockets logic will go later
      var socket, host;
      var potentionmeterValue;
      host = "ws://localhost:3001";

      function connect() {
        try {
          socket = new WebSocket(host);

          addMessage("Socket State: " + socket.readyState);

          socket.onopen = function() {
            addMessage("Socket Status: " + socket.readyState + " (open)");
          }

          socket.onclose = function() {
            addMessage("Socket Status: " + socket.readyState + " (closed)");
          }

          socket.onmessage = function(msg) {
            //hack: because of initial "Connected to ./" info msg.data is not always a JSON object
            try {
              potentionmeterValue = JSON.parse(msg.data).event;
              console.log(potentionmeterValue);
            }
            catch(err){
              //nothing to do here
            }

            addMessage("Received: " + potentionmeterValue);

            // send a dummy message back to initiate
            // the onmessage callback again
            socket.send("next message please!");
          }
        } catch(exception) {
          addMessage("Error: " + exception);
        }
      }

      function addMessage(msg) {
        $("#chat-log").append("<p>" + msg + "</p>");
      }

      function send() {
        var text = $("#message").val();
        if (text == '') {
          addMessage("Please Enter a Message");
          return;
        }

        try {
          socket.send(text);
          addMessage("Sent: " + text)
        } catch(exception) {
          addMessage("Failed To Send")
        }

        $("#message").val('');
      }

      $(function() {
        connect();
      });

      $('#message').keypress(function(event) {
        if (event.keyCode == '13') { send(); }
      });

      $("#disconnect").click(function() {
        socket.close()
      });
    </script>
  </body>
</html>
