<!doctype html>
<html>
  <head>
  </head>
  <meta charset="utf-8">
  <body>
    <link href="stylesheets/styles.css" type="text/css" rel="stylesheet" />
    <div class="container">
      <h1>Africa</h1>
      <h2>Improved water source, rural (% of rural population with access)</h2>
      <div id="form">
        <button id="disconnect">Disconnect</button>
        <div id="map"></div>
        <div class="map"></div>
        <input id="yearRange" class="slider" type="range">
        <div class="scale"></div>
        <br>
        <legend>Access to an improved water source refers to the percentage of the population using an improved drinking water source. The improved drinking water source includes piped water on premises (piped household water connection located inside the user’s dwelling, plot or yard), and other improved drinking water sources (public taps or standpipes, tube wells or boreholes, protected dug wells, protected springs, and rainwater collection).</legend>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="javascript/websocket.js"></script>
    <script src="javascript/custom_map.js"></script>
  </body>
</html>
