<!doctype html>
<html>
  <head>
  </head>
  <meta charset="utf-8">
  <body>
    <link href="stylesheets/styles.css" type="text/css" rel="stylesheet" />
    <div class="container">
      <h1>Africa</h1>
      <h2>Improved sanitation facilities (% of population with access)</h2>
      <div id="form">
        <button id="disconnect">Disconnect</button>
        <div id="map"></div>
        <input type="range" min="1" max="25" value="10" style="width:100%">
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="javascript/websocket.js"></script>
    <script src="javascript/custom_map.js"></script>
  </body>
</html>
